

.desc {
  width: 50%;
  padding: 3rem;
  font-size: 20px;
  font-family: "Montserrat";
  color: #fff;
}

.phone {
  font-size: 20px;
  font-family: "Montserrat";
  color: #fff;
  border: 1px solid #6e6e6e;
  padding: 10px;
}

.btn-contact {
  width: 206px;
  height: 48px;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  background: #ffffff;
  color: #095246;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 4rem;
}

.contactGroup {
  display: flex;
  align-items: center;
  gap: 20px;  
  
}
.call {
  font-family: "Montserrat";
  color: #6e6e6e;
  padding: 5px;
}

.or {
  font-family: "Montserrat";
  color: #6e6e6e;
  font-size: 20px;
}

