.image-gallery {
  height: 600px;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  /* or 51px */
  text-align: center;
  text-transform: uppercase;

  color: #0d4949;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
