.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}
.box-service{
    display: flex;
    height: 205px;
    width: 80%;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}


.contact{
    width: 90%;
    background-color: #0D4949;
    height: 120px;
    
}
