.box{
    width: 30%;
    height: 66px;
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
}

.desc{
    font-size: 17px;
    font-family: 'Montserrat';
    color: rgb(75, 75, 75);
}