.backToTop {
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: #0d4949;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 18px;
  
  z-index: 9999;
}

@media screen and (max-width: 391px) {
  .backToTop {
    display: block;
  }
}
