.content-info {
  position: relative;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff !important;
}

.info {
  position: absolute;
  background-color: #f3f6f6;
  height: 351px;
  width: 90%;
  top: -20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 80px;
  justify-content: center;
  gap: 24px;
}

.content-info .info h3 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  color: #0d4949;
  text-transform: uppercase;
}

.content-info p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  text-align: center;
  width: 100%;
}

.content-room {
  display: flex;
  justify-content: center;
  height: 827px;
}

.content-room h3 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  color: #0d4949;
  text-transform: uppercase;
}

.content-info {
  padding: 80px 0;
}

.info {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 80px;
  text-align: center;
}

.content-info h3 {
  font-family: "Lora";
  font-size: 32px;
  color: #0d4949;
  text-transform: uppercase;
}

.content-info p {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 160%;
}

.background {
  display: none;
}

@media screen and (max-width: 391px) {
  .info {
    height: 311px;
    padding: 0 6px;
    width: 100%;
  }
  .content-info {
    height: 311px;
    
    
  }
  .content-info .info h3 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    text-transform: uppercase;
    max-width: 224px;
  }
  .content-info p {
    width: 350px;
    height: 189px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    /* or 21px */
    text-align: center;

    color: #000000;
  }

  
}
