.main{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.box {
  display: flex;
  max-width: 1920px;
  height: 960px;
  background: #F3F6F6;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.box .icon {
  display: block;
  width: 54.34px;
  height: 68px;
  
}

.btn {
  width: 141px;
  height: 45px;
  border: none;
  background: #F3F6F6;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #0D4949;
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0 176px 0 80px;
}

.content .title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  margin: 16px 0 8px;
}

.content .desc {
  font-family: "Montserrat";
  line-height: 1.6;
  font-size: 17px;
  margin: 16px 0 8px;
}

.wrapper .box:nth-child(2),
.wrapper .box:nth-child(4) {
  flex-direction: row-reverse;
}

/* h3{
    margin: 44px 44px;
} */