.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.box {
  display: flex;
  max-width: 1920px;
  height: 960px;
  background: #f3f6f6;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.box .icon {
  display: block;
  width: 54.34px;
  height: 68px;
}

.btn {
  width: 141px;
  height: 45px;
  border: none;
  background: #f3f6f6;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #0d4949;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 176px 0 80px;
}

.content .title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  margin: 16px 0 8px;
}

.content .desc {
  font-family: "Montserrat";
  line-height: 1.6;
  font-size: 17px;
  margin: 16px 0 8px;
}

.wrapper .box:nth-child(2),
.wrapper .box:nth-child(4) {
  flex-direction: row-reverse;
}

/* h3{
    margin: 44px 44px;
} */

@media screen and (max-width: 391px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 770px;
    /* gap: 24px; */
    
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6px;
    padding: 20px 36px;
    height: auto;

  }

  .content .title{
    font-size: 18px;
  }

  .content .desc{
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    
   }

  .btn{
    font-size: 16px;
  }

.wrapper .box:nth-child(2),
.wrapper .box:nth-child(4) {
  flex-direction: column;
}

}
