.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.container .logo {
  width: 233.7px;
  height: 160px;
  display: block;
  object-fit: contain;
}

.container p {
  font-size: 17px;
  line-height: 1.6;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.hotline,
.email {
  font-size: 17px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.network {
  display: flex;
  gap: 18px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.list {
  display: flex;
  gap: 56px;
}

.item {
  font-size: 16px;

  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; 
}

.copyright {
  background-color: #0d4949;
  width: 1920px;
  height: 46px;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  
}
