.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 120px;
}

.list {
  display: flex;
  gap: 20px;
}

.box img {
  border-radius: 10px;
}

.name {
  color: #969696;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

.container p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  width: 762px;
  height: 54px;
  padding: 0 150px;
}

h3{
    margin: 0;
}

.line {
  width: 1920px;
  height: 1px;
  background: #d0d0d0;
  margin: 24px 0;
}

