.room-info-slide-container .swiper-wrapper {
  align-items: flex-start;
}

.slide-container {
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.slide-container img {
  width: 100%;
  height: 460px;
  aspect-ratio: 23/17;
  object-fit: cover;
}

.slide-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: "Montserrat";
  padding: 20px 28px 16px;
  height: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-desc {
  text-align: center;
  font-family: "Montserrat";
  padding: 0 28px 16px;
  /* display: none; */
}

/* .slide-container:hover .slide-desc {
  display: block;
} */

.swiper-slide {
  width: 480px;
  height: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.9) translateY(0);
  transition: transform 0.45s ease;
  z-index: 1;
}

.swiper-slide-active {
  transform: scale(1) translateY(-80px);
  z-index: 10;
}

.img-room {
  width: 480px;
  height: 360px;
  object-fit: cover;
  display: block;
}

.info-room {
  margin: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 16px 0 8px;
}

.swiper-slide .content,
.swiper-slide .footer {
  display: none;
}

.swiper-slide-active .content,
.swiper-slide-active .footer {
  display: block;
}

.text-box p {
  margin-top: 18px;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  font-family: "Montserrat", sans-serif;
}

.footer button {
  margin-top: 16px;
  width: 426px;
  height: 62px;
  border: none;
  background: #0d4949;
  color: #fff;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: #ccc;
}

.swiper-pagination-bullet-active {
  background: #000;
  width: 18px;
  border-radius: 6px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}
.container h3 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  color: #0d4949;
  text-transform: uppercase;
}

.btn-ex {
  background: #0d4949;
  width: 90%;
  color: #fff;
  height: 46px;
}

@media (max-width: 391px) {
  .container {
    max-width: 390px;
  }

  .container h3 {
    font-size: 22px;
    margin: 2rem 0;
  }

  .title h1 {
    font-size: 16px;
  }
  .swiper-slide {
    width: 300px;
    height: 479px;
    transform: scale(0.95);
  }

  .swiper-slide-active {
    transform: scale(1) translateY(-20px);
  }

  .img-room {
    width: 300px;
    height: 180px;
  }

  .swiper-slide .content,
  .swiper-slide .footer {
    display: block;
  }

  .text-box p {
    font-size: 13px;
    line-height: 1.5;
    margin-top: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .info-room {
    height: calc(479px - 180px);
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer button {
    width: calc(100% - 32px);
    height: 44px;
    font-size: 13px;
  }
}
